<div class="bg-[#F4F4F4] rounded-xl flex flex-col items-center mx-auto min-w-72 max-w-96 pl-4 pr-4 pt-4 pb-3 md:pb-4">
  <div class="flex flex-row w-full mr-auto">
    <span class="min-w-10 max-w-16 bg-red-900 h-1.5 rounded-xl mr-1"></span>
    <span class="min-w-10 max-w-16 bg-orange-500 h-1.5 rounded-xl mr-1"></span>
    <span class="min-w-10 max-w-16 bg-blue-900 h-1.5 rounded-xl"></span>
  </div>
  <p class="text-[#000000] font-normal text-sm leading-6 mr-auto mt-1 md:text-lg">
    {{ item.title }}
  </p>
  <p class="text-[#000000] font-normal text-xs leading-4 opacity-40 mr-auto mt-1 md:text-base">
    {{ item.title }}
  </p>
  <div class="mt-6 flex flex-row items-center justify-items-start w-full">
    <div class="bg-[url('./../assets/add.svg')] bg-cover h-6 w-6 mr-auto md:h-8 md:w-8"></div>
    <div class="flex flex-row justify-items-start items-center mr-4">
      <p class="font-normal text-sm md:text-base leading-6 opacity-20 ml-[2px]">
        76
      </p>
      <div class="bg-[url('./../assets/comments.svg')] bg-cover h-4 w-4 md:h-6 md:w-6"></div>
    </div>
    <div class="flex flex-row justify-items-start items-center mr-4">
      <p class="font-normal text-sm md:text-base leading-6 opacity-20 ml-[2px]">
        45
      </p>
      <div class="bg-[url('./../assets/like.svg')] bg-cover h-4 w-4 md:h-6 md:w-6"></div>
    </div>
    <div class="flex flex-row justify-items-start items-center">
      <p class="font-normal text-sm md:text-base leading-6 opacity-20 ml-[2px]">
        12
      </p>
      <div class="bg-[url('./../assets/clip.svg')] bg-cover h-4 w-4 md:h-6 md:w-6"></div>
    </div>
  </div>
</div>